<phpunit boostrap="" colors="true">
	<testsuite name="Ifphp">
		<directory>/</directory>
	</testsuite>
	
	<filter>
		<whitelist>
			<directory suffix=".php">../application/</directory>
			<exclude>
				<directory suffix=".phtml">../application/</directory>
			</exclude>
		</whitelist>
	</filter>
	
	<logging>
		<log type="coverage-html" target="./log/report" charset="UTF-8" yui="true" highlight="true" />
	</logging>
</phpunit>