/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography */
body {font-size:62.5%;color:#222;background:#fff;font-family: Arial, Helvetica, sans-serif}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#656565;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em; float:left;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:19px; padding-left:15px}
h4 {font-size:1.8em;line-height:1;margin-bottom:19px;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#eb9d02; text-decoration:underline}
a {color:#eb9d02;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0;}
ul {list-style-type:none;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}


.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
div.hr.dotted {
	background:url(../imgs/layout/global/hr_div.gif) repeat-x 0 0;
  	height: 4px;
}
.sidebar div.hr.dotted {
	margin-bottom:13px;
}
div.hr.dotted hr {
  display: none;
}

div.hr.simple {
	background:#ddd;color:#ddd;clear:both;float:none;
  	height: 1px;
	float:left;
	margin:13px 0;
	width:100%;
}
div.hr.simple hr {
  display: none;
}

hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

body {background:url(../imgs/layout/header/bg.gif) repeat-x 0 0;}

.container {width:976px;margin:0 auto;}
.column, div.content, div.sidebar, div.footer {float:left;}
.last, div.last {margin-right:0;}

/* global */
.header {
	height:129px;
	margin-bottom:28px;
}
.header h1 {width:239px;}
.header h1 a {
	background:url(../imgs/layout/header/ifphp.png) no-repeat 0 0;
	display:block; 
	height:43px;
	position:relative;
	text-indent:-2000em;
	top:30px;
}

.header .search {
	background:url(../imgs/layout/header/search/vertical_divider.png) no-repeat 0 30px;
	float:right; 
	height:109px;
	padding:20px 29px 0 25px;
	width:269px;
}
.header .search h2 {
	color:#dd9504;
	font-size:1.2em;
	left:8px;
	margin-bottom:14px;
	position:relative;
}

.header #search_box {
    width: 269px;
    height: 33px;
    background: url(../imgs/layout/header/search/seach_bg.png) no-repeat 0 0;
}
.header #search_box #s {
    background: none;
	color:#9a9a9a;
    float: left;
    border: 0;
	left:16px;
    padding: 0;
	position:relative;
	top:10px;
    width: 220px;
	font-weight:bold;
}
.header .search p {
	left:8px;
    position:relative;
	top:10px;
}

.header .search p a {
	color:#936f28;
}

/* NAVIGATION */
.navigation {
	float:left;
	height:32px;
	left:22px;
	width:488px;
	position:relative;
	top:40px;
}
.navigation li a {
	background:url(../imgs/layout/header/navigation/nav.png) no-repeat 0 0;
	cursor:pointer;
	display:block;
	float:left;
	height:32px;
	overflow:hidden;
	text-indent:-2000em
}
.navigation li.home a {
	background-position:0 0;
	height:11px;
	width:70px;
}
.navigation li.home a:hover {
	background-position:0 -11px;
	height:11px;
	width:70px;
}
.navigation li.home a.active {
	background-position:0 -22px;
	height:32px;
	width:70px;
}
.navigation li.submit-feed a {
	background-position:-70px 0;
	height:11px;
	width:109px;
}
.navigation li.submit-feed a:hover {
	background-position:-70px -11px;
	height:11px;
	width:109px;
}
.navigation li.submit-feed a.active {
	background-position:-70px -22px;
	height:32px;
	width:109px;
}
.navigation li.ping-feeds a {
	background-position:-179px 0;
	height:11px;
	width:93px;
}
.navigation li.ping-feeds a:hover {
	background-position:-179px -11px;
	height:11px;
	width:93px;
}
.navigation li.ping-feeds a.active {
	background-position:-179px -22px;
	height:32px;
	width:93px;
}
.navigation li.blogs a {
	background-position:-272px 0;
	height:11px;
	width:90px;
}
.navigation li.blogs a:hover {
	background-position:-272px -11px;
	height:11px;
	width:90px;
}
.navigation li.blogs a.active {
	background-position:-272px -22px;
	height:32px;
	width:90px;
}
.navigation li.support a {
	background-position:-362px 0;
	height:11px;
	width:88px;
}
.navigation li.support a:hover {
	background-position:-362px -11px;
	height:11px;
	width:88px;
}
.navigation li.support a.active {
	background-position:-362px -22px;
	height:32px;
	width:88px;
}
.navigation li.about a {
	background-position:-450px 0;
	height:11px;
	width:38px;
}
.navigation li.about a:hover {
	background-position:-450px -11px;
	height:11px;
	width:38px;
}
.navigation li.about a.active {
	background-position:-450px -22px;
	height:32px;
	width:38px;
}
.navigation li.last {border:none}
/* END NAVIGATION */

.content{
	font-size:1.2em;
	margin-right:19px;
	width:495px
}
.content .rss a {
	background:url(../imgs/layout/global/rss.png) no-repeat 0 0;
	display:block;
	float:right;
	height:19px;
	left:0;
	position:relative;
	text-indent:-2000em;
	top:-38px;
	width:19px;
}
.content .utilities {
	margin-bottom:30px; 
	float:left; 
	width:100%}

/* pagination */
.content .utilities .pagination{
	left:10px;
	position:relative;
}
.content .utilities .pagination li{
	border:0;
	margin:0;
	padding:0;
	font-size:12px;
	list-style:none;
}
.content .utilities .pagination li, .content .utilities .pagination a{
	color:#c3c3c3;
	margin-right:2px;
}
.content .utilities .pagination .previous-off,
.content .utilities .pagination .next-off {
	color:#888888;
	float:left;
	font-weight:bold;
	padding:0px 4px;
	position:relative;
	top:-1px;
}
.content .utilities .pagination .next a,
.content .utilities .pagination .previous a {
	position:relative;
	top:6px;
}
.content .utilities .pagination .active{
	color:#747474;
	display:block;
	float:left;
	padding:0px 3px;
}
.content .utilities .pagination a:link,
.content .utilities .pagination a:visited {
	color:#c3c3c3;
	display:block;
	float:left;
	padding:0px 3px;
	text-decoration:none;
}
.content .utilities .pagination a:hover{
	text-decoration:none;
}

/* Translation Selector */
.content .utilities .translation-selector {
	float:left;
	position:relative;
	left:324px;
}
.content #posts-footer {margin-top:12px}

.content .post {margin-top:10px;padding-left:15px}
.content .post p {color:#828282}
.content .post p.post-title {margin:0}
.content .post p.post-title a {font-size:17px; font-weight:900}

.content .post ul.post-info{float:left; width:100%}
.content .post ul.post-info li{display:inline; float:left; margin-right:10px}
.content .post ul.post-info .blog-name a {color:#5c5c5c; font-size:12px; font-weight:900}
.content .post ul.post-info .date {color:#c8c6c6; font-size:10px;}

.sidebar {
	float:left;
	margin-right:21px;
	width:213px;
} 
.sidebar a {font-size:12px;}
.sidebar .categories, .sidebar .smart-categories, .sidebar .recently-updated-blogs, .sidebar .popular-blogs, .sidebar .languages{margin:0 0 1.45em}
.sidebar .follow-us {margin-top:57px}
.footer {
	background:#e5e5e5;
	color:#8e8d8d;
	height:92px; 
	width:100%;
}
.footer .footer-content {
	width:976px;
	margin:0 auto;
}
.footer ul {
	position:relative;
	left:10px;
	top:23px;
}
.footer ul.copyright {
	clear:left;
	top:30px;
}
.footer li {
	display:block; 
	float:left;
	margin-right:30px;
}

.footer li a {
	color:#8e8d8d;
	font-size:1.2em;
	font-weight:900;
}


/* forms */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0;}
input.text, input.title {width:200px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}

.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.support-list{margin:15px 35px;}
.content .post, .content .content-body {margin-top:10px;padding-left:15px;}